#################
## Protractor + Node JS
#################


*.tmp
*.log
*.bak
*.swp
*.png
*.swp
*.txt
*.html
results.json
node_modules/
/bin/
npm-debug.*
local.log
.project
.classpath
/reports
/.metadata
/results